127.0.0.1:22018

errors logs/error.log
log    logs/access.log
root   dist/

rewrite /mitm/check /mitm/{mitm}.shtml

markdown / {
    ext       .html .md
    template  tpl/index.shtml
    template  tutorial  tpl/tutorial.shtml
    template  wiki  tpl/wiki.shtml
}

git https://github.com/phpple/caddy-cn-doc ../repo {
    clone_args "--depth=1"
    then       /bin/bash ../build.sh
}
