localhost

errors logs/error.log
log    logs/access.log
root   dist/

rewrite /mitm/check /mitm/{mitm}.html

markdown / {
    ext       .html .md
    template  ../src/tpl/index.html
    template  tutorial  ../src/tpl/tutorial.html
}

git https://github.com/phpple/caddy-cn-doc ../repo {
    interval   300
    clone_args "--depth=1"
    then       /bin/bash ../build.sh
}
