blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eee;
}

@media (min-width: 1200px)
.bd-sidebar {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 320px;
    flex: 0 1 320px;
}
@media (min-width: 768px)
.bd-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(100vh - 4rem);
}
@media (min-width: 768px)
.bd-sidebar {
    border-right: 1px solid rgba(0,0,0,.1);
}
.bd-sidebar {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.bd-sidenav {
    display: block;
}
.bd-sidebar .nav>ul{
    padding:0;
    font-weight:normal;
}
.bd-sidebar .nav>ul>li {
    display: block;
    padding: 0.5rem 0.05rem;
    font-weight: 200;
    color: rgba(0,0,0,.75);
}
.bd-sidebar .nav>ul>li>ul>li{
    list-style:none;
    font-weight: normal;
}
.bd-sidebar .nav>ul>li>ul{
    font-size:90%;
    padding:0.05rem 0;
}
.bd-sidebar .nav>ul>li>ul>li>a{
    padding:0.1rem 1rem;
    display: block;
    color: rgba(0,0,0,.55);
    border-radius: 0.2rem;
    text-decoration:none;
}
.bd-sidebar .nav>ul>li>ul>li.on>a,.bd-sidebar .nav>ul>li>ul>li.on>a:hover{
    background: #168ff9;
    color: #fff;
}
.bd-sidebar .nav>ul>li>ul>li>a:hover {
    background: #bcdefc;
}
.bd-toc-link {
    
}
